nav {
    background: #222222;
    color: white;
    width: 100vw;
    padding: 15px 15px 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    box-shadow: 0 4px 2px -2px rgb(175, 175, 175);
    position: relative;
    box-sizing: border-box;
}

// LOGO
nav .logo-container {
    display: flex;
    justify-content: center;
    margin: 0;
}

nav .logo .nav-link {
    display: flex;
    padding: 10px;
}

nav .logo img {
    margin: auto 50px auto 0px;
}

// NAVIGATION MENU
.menu-container {
    display: flex;
}

nav .menu {
    padding: 10px 10px 0 10px;
    margin: auto;
    display: inline-flex;
}

.menu .is-active {
    color: lightblue;
}

nav .menu li {
    list-style: none;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #222222;
    width: 120px;
    display: inline-block;
}

.menu li * {
    padding: 0;
}

// sub menu
.menu .sub-menu-container {
    overflow: hidden;
    max-height: 0px;
    // without this transition, when home dropdown is open,
    // about link comes back to menu link instantly and activates itself
    transition: max-height 0.0001s linear;
}

.menu li:not(.no-hover):hover .sub-menu-container {
    max-height: 180px;
    transition: max-height .6s linear;
}

nav .nav-link {
    text-decoration: none;
    color: white;
    padding: 5px;
}

nav .menu li .nav-link {
    position: relative;
}

// nav .menu li .nav-link:before,
nav .menu li .nav-link:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: rgb(255, 192, 0);
    background: radial-gradient(circle, rgba(255, 192, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
    left: 0;
    transform: scaleX(0);
    transition: all .5s;
}

// nav .menu li .nav-link::before {
//     top: 100;
//     transform-origin: center;
// }

nav .menu li .nav-link::after {
    bottom: 0;
    transform-origin: center;
}

nav .menu li .nav-link:hover::before,
nav .menu li .nav-link:hover::after {
    transform: scaleX(1);
}

nav .burger {
    margin: auto;
    display: none;
}

nav .fa-bars {
    font-size: 2rem;
}

@media only screen and (max-width: 500px) {
    nav .menu {
        padding-top: 0;
        display: none;
    }

    .logo {
        flex-grow: 1;
    }

    nav .burger {
        display: block;
        margin-right: 35px;
    }

    nav .logo img {
        margin: auto 20px auto 15px;
    }

    nav {
        padding: 0;
        padding: 10px 0;
    }

    nav .menu-mobile {
        background: #222222;
        width: 100vw;
        position: absolute;
        top: 100%;
        display: block;
        padding-bottom: 10px;
    }

    nav .menu-mobile li {
        display: block;
        width: 100%;
        border-top: rgba(109, 109, 109, 0.753) 1px solid;
        height: auto;
    }

    nav .menu-mobile .sub-menu-container li .nav-link {
        margin-left: 20%;
    }

    nav .menu li .nav-link::after {
        display: none;
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}